<?xml version="1.0"?>

<model>
  <name>red_flare</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Atif Belal</name>
    <email>imatif17@gmail.com</email>
  </author>


  <description>
  	The red flare is cylindrical with diameter 15cm and 150cm height. It also has a cylindrical base with radius 8cm. Dimensions according to the SAUVC 2020 Rulebook
 </description>

</model>
