<?xml version="1.0"?>

<model>
  <name>Candy Plate</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Syed Jawad Akhtar</name>
    <email>syedjawadakhtar@gmail.com</email>
  </author>


  <description>
  	Candy plate used to detect underwater and hover up on surface in the delivery station.
	Dimension according to SAVe 2019 rulebook.
 </description>

</model>
