<?xml version="1.0"?>

<model>
  <name>Delivery</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Syed Jawad Akhtar</name>
    <email>syedjawadakhtar@gmail.com</email>
  </author>


  <description>
  	Delivery station placed on the surface of the pool. The vehicle has to abort its mission inside this station.
	Dimensions according to SAVe 2019 rulebook.
 </description>

</model>
