<?xml version="1.0"?>

<model>
  <name>X Bin</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Syed Jawad Akhtar</name>
    <email>syedjawadakhtar@gmail.com</email>
  </author>


  <description>
	X Bin is a rectangular bin marked with an X/cross. The vehicle has to detect it and drop a ball.
	Dimensions according to SAVe 2019 rulebook.
 </description>

</model>
